In [1]:
'''different ways of creating dataframes in pandas
1.)using csv
2.)using excel
3.)from python dictionary
4.)from list of tuples
5.)from list of dictionary'''

'different ways of creating dataframes in pandas\n1.)using csv\n2.)using excel\n3.)from python dictionary\n4.)from list of tuples\n5.)from list of dictionary'

In [2]:
#from csv
import pandas as pd
df=pd.read_csv("pokemon.csv")
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,NaN,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80.0,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100.0,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122.0,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60.0,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100.0,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160.0,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150.0,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170.0,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130.0,90,70,6,True

In [3]:
#from excel xlsx file
import pandas as pd
xls = pd.read_excel('licious data.xlsx',"Order")

df2 = pd.read_excel('licious data.xlsx', 'Payment')
xls
#this trick is used to access excel multiple table

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
df2

  Payment ID Order ID    mode    status    Time       Date
0         P1       O1     Upi    failed  13h20m 2023-12-03
1         P2       O2    cash   success  13h20m 2023-12-04
2         P3       O3   Debit  canceled  13h20m 2023-12-14
3         P4       O4  Credit   success  13h20m 2023-12-12
4         P5       O5     Upi   success  13h20m 2023-12-12
5         P6       O6     Upi   success  13h20m 2023-12-14
6         P7       O7    Cash    failed  13h20m 2023-12-03
7         P8       O8   Debit  canceled  13h20m 2023-12-03
8         P9       O9  Credit   success  13h20m 2023-12-26
9        P10      O10     Upi   success  13h20m 2023-12-30

In [ ]:
#using dictionary
weather={
         'day': ['1/2/20','1/3/20','1/4/20'],
         'temperature':[32,35,28],
         'windspeed':[6,7,8],
         'event':['rain','sunny','fog']
    
}
df3=pd.DataFrame(weather)
df3

      day  temperature  windspeed  event
0  1/2/20           32          6   rain
1  1/3/20           35          7  sunny
2  1/4/20           28          8    fog

In [ ]:
weather=[
          ('1/2/20',32,6,'rain')
    ,('1/3/20',35,7,'sunny')
    ,('1/4/20',28,8,'fog')
    
]
#in this we have to set coloum also
df4=pd.DataFrame(weather,columns=["date","temperature","windspeed","event"])
df4

     date  temperature  windspeed  event
0  1/2/20           32          6   rain
1  1/3/20           35          7  sunny
2  1/4/20           28          8    fog

In [ ]:
#using dictionary list